<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

<header class="container-fluid pt-3 shadow-lg">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="nav-logo">
        <h2 style="text-shadow: 2px 2px #5F9EA0;">Kép galléria</h2>
      </div>
      <div class="ms-auto">
        <a type="button" class="btn btn-outline-primary me-2" title="Kijelentkezés" th:href="@{/logout}">
          Kijelentkezés
        </a>
      </div>
    </div>
  </nav>
</header>
<div class="container h-100">
  <div class="container-fluid">
    <div class="container mt-5">
      <h1 class="text-center mb-4">Képek</h1>
      <div class="row">
        <div th:each="image : ${images}" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card">
            <!--/*@thymesVar id="image" type="com.example.Beadando.model.Image"*/-->
            <img th:src="@{/uploads/{imageName}(imageName=${image.name})}" class="card-img-top" alt="image" style="width: 100%; height: auto;">
            <div class="card-body">
              <h5 class="card-title" th:text="${image.name}"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2."></script>


</html>